.timer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.timerBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 .6em;
    font-size: 4em;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    background-color: transparent;
}

.time-input-field {
    color: #fff;
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin: .03em;
    background-color: #00ABA9;
    width: 120px;
    height: 95px;
}

.time-input-field:disabled {
    color: #fff;
    -moz-appearance: textfield;
}

/* Style spinner buttons in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    /* Removes default Firefox styling */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    /* Hides the up and down arrows in Chrome/Brave/Edge */
    appearance: none;
    /* Hides the arrows in modern browsers */
    margin: 0;
    /* Ensures no extra margin is added */
}

.timerControls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 2em auto;
    padding: 0 2em .5em 2em;
}

.stopwatch-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: auto;
}

.stopwatch-btns div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timerControls .stopwatch-btn {
    background: #fff;
    margin-top: 30px;
    margin-left: 5px;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    text-transform: uppercase;
    width: 150px;
    transition: background 1s;
    cursor: pointer;
}

.timerControls .stopwatch-btn-red {
    border: 2px solid #C85454;
    color: #C85454;
}

.timerControls .stopwatch-btn-yel {
    border: 2px solid #FFC900;
    color: #FFC900;
}

.timerControls .stopwatch-btn-gre {
    border: 2px solid #00ABA9;
    color: #00ABA9;
}

.timerControls .stopwatch-btn-red:hover {
    background: #C85454;
    border: 2px solid #C85454;
    color: #fff;
}

.timerControls .stopwatch-btn-yel:hover {
    background: #FFC900;
    border: 2px solid #FFC900;
    color: #fff;
}

.timerControls .stopwatch-btn-gre:hover {
    background: #00ABA9;
    border: 2px solid #00ABA9;
    color: #fff;
}

@media only screen and (max-width: 414px) {
    .timerBox {
        width: 95%;
        margin: auto;
        font-size: 3em;
    }

    .time-input-field {
        font-size: .7em;
        /* padding-left: .4em; */
        margin: .05em;
        width: 85px;
        height: 50px;
    }

    .timerControls .stopwatch-btn {
        margin-top: 20px;
        width: 100px;
    }
}