.clockWrap {
    width: 90%;
    max-width: 1000px;
    margin: -3em auto 2em auto;
    font-weight: bold;
}

.widget {
    width: 40%;
    margin: 4em auto;
}

.hourFormater {
    width: 13%;
    margin-left: 1.5em;
    border: none;
}

.hourFormater:hover {
    color: #16191c;
    background-color: #00ABA9;
}

.date,
.clock {
    display: flex;
    gap: 0.5rem;
}

.separator {
    margin-left: -2em;
}

.date {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: .3rem;
    background-color: #00ABA9;
    padding: 20px;
    width: 100%;
    border-radius: .3em .3em 0 0;
}

.clock {
    width: 100%;
    padding: 0 .6em;
    font-size: 4em;
    text-align: center;
    background-color: #00ABA9;
}

.clock .seconds,
.clock .amPm {
    font-size: 2rem;
}

.clock .amPm {
    margin-top: 0.3em;
}

.clock .seconds {
    margin-top: -.5em;
}

.hsFormat {
    font-size: 1em !important;
    padding-top: .5em;
}

.hide {
    display: none;
}

@media only screen and (max-width: 950px) {
    .hourFormater {
        width: 30%;
    }

    .widget {
        width: 65%;
    }
}

@media only screen and (max-width: 414px) {
    .hourFormater {
        width: 50%;
    }

    .widget {
        width: 100%;
    }

    .date {
        font-size: 1em;
    }

    .clock {
        font-size: 3em;
    }

    .clock .seconds,
    .clock .amPm {
        font-size: 1.5rem;
    }
}