body {
  background: #2C3E50;
}

* {
  width: 100%;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/*? NavBar =================================*/
.nav-wrapper {
  display: flex;
  flex-direction: column;
}

.mainTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .5em 0;
}

.nav-links {
  display: flex;
  justify-content: center;
  margin: 1em 0;
  padding: 0 5em;
}

.nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1em;
  margin: 0 1em;
  border-radius: 2em;
  width: 20%;
  color: #fff;
  background-color: #131313;
}

.nav-link:hover {
  color: #2C3E50;
  background-color: #00ABA9;
}

.main-section {
  background: transparent;
  max-width: 1600px;
  width: 90%;
  height: 500px;
  margin: 30px auto;
}

.section-title {
  padding: 1em 0 0 1em;
  color: #000000;
}

.clock-holder {
  width: 100%;
  background: #f5f5f5;
  margin: 30px auto;
  position: relative;
  border-radius: 0 0 1em 1em;
}